/* General */

.container {
  max-width: 100% !important;
}

/* navbar */

#navbarBackground {
  background: rgba(98, 136, 200, 1);
  background: linear-gradient(rgba(98, 136, 200, 1) 70%, rgba(98, 136, 200, 0));
}

.logo {
  width: 75px;
}

.logo:hover {
  filter: brightness(80%);
}

.nav-text:hover {
  color: rgb(222, 222, 222);
}

.textDropMenu {
  color: black;
  font-size: 13px;
}

#navbarMenu {
  min-width: 40px;
}

/* Home */

#homeTitle {
  margin-top: 100px;
}

#homeTitle h1 {
  font-size: 30px;
}

#homeImage {
  margin-top: 20px;
  height: 450px;
}

#linkedinButton {
  background-color: rgb(0, 119, 181);
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 70px;
}

/* About */

#about {
  background: rgba(98, 136, 200, 1);
  margin-right: 0;
  margin-left: 0;
}

#aboutTitle {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  text-decoration: underline;
}

.aboutText,
.aboutText2 {
  text-align: center;
}

.aboutText2 {
  padding-bottom: 50px;
}

.aboutBox {
  padding-left: 50px;
  padding-right: 50px;
}

/* Services */

.serviceTitle {
  color: rgba(98, 136, 200, 1);
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  text-decoration: underline;
}

.serviceSubTitle {
  color: rgba(98, 136, 200, 1);
  font-size: 20px;
  text-align: center;
}

.serviceText {
  text-align: center;
}

.serviceBox {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.boxEmoticon {
  text-align: center;
  font-size: 60px;
  color: rgba(98, 136, 200, 1);
}

/* Contact */
#contact {
  background-image: url('./images/contact-us.jpg');
  background-position: center;
  background-size: cover;
}

.contactTitle {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: underline;
}

.contaxtBox {
  text-align: center;
  padding-bottom: 30px;
}

.footerRow {
  padding-bottom: 30px;
  width: 100%;
  text-align: right;
}

.footerText {
  font-size: 12px;
}


/* Media Queries */

@media (max-width: 575px) {
  #homeTitle h1 {
    font-size: 17px;
  }
  #homeImage {
    margin-top: 20px;
    height: 200px;
  }
  #linkedinButton {
    height: 30px;
    font-size: 12px;
    margin-bottom: 30px;
  }
  #aboutTitle {
    padding-top: 30px;
    font-size: 17px;
    padding-bottom: 15px;
  }
  .aboutText,
  .contactText,
  .serviceText,
  .aboutText2 {
    font-size: 12px;
  }
  .aboutText2 {
    padding-bottom: 15px;
  }
  .contactTitle,
  .serviceTitle {
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .serviceSubTitle {
    font-size: 14px;
  }
  .serviceBox {
    padding-bottom: 0;
  }
  .boxEmoticon {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #homeTitle h1 {
    font-size: 23px;
  }
  #homeImage {
    margin-top: 20px;
    height: 270px;
  }
  #linkedinButton {
    height: 35px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  #aboutTitle {
    padding-top: 40px;
    font-size: 23px;
    padding-bottom: 20px;
  }
  .aboutText,
  .contactText,
  .serviceText,
  .aboutText2 {
    font-size: 15px;
  }
  .aboutText2 {
    padding-bottom: 40px;
  }
  .contactTitle,
  .serviceTitle {
    font-size: 23px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .serviceSubTitle {
    font-size: 17px;
  }
  .serviceBox {
    padding-bottom: 10px;
  }
  .boxEmoticon {
    font-size: 45px;
  }
}

@media (min-width: 768px) {
  #xsLogo,
  #navbarMenu {
    display: none !important;
  }
}
